<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>23 Sachem - Furniture</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
    <div class="container-fluid">
        <div class="sticky-top fs-4 bg-primary text-white p-2 mb-3">
            23 Sachem - Furniture
            <div v-if="haveItems" class="d-flex flex-wrap fs-6 border-top">
                <div class="me-1 fw-bold">Interested in ({{ currency(price) }}):</div>
                <div class="me-2" v-for="(item, index) in gimmieItems">
                    {{ item }}
                    <span v-if="index < gimmieItems.length - 1">, </span>
                </div>
                <div v-if="!copied" @click="copyToClipboard" class="copy">Copy to clipboard</div>
                <div v-if="copied" class="ms-3">Copied!</div>
            </div>
        </div>
        <div class="mb-3 p-2 rounded bg-light">
            <p class="mb-2 fw-bold">
                First, we're truly excited for you and hope you'll love this house as much as we have!
            </p>
            <p class="mb-2">
                We're hoping you'll want all the furniture featured here as it will:
                <ul>
                    <li>help ease our move</li>
                    <li>get you jump started in the house within a reasonable budget</li>
                    <li>not require you to potentially wait many months for furniture</li>
                </ul>
            </p>
            <p class="mb-2">
                We are simply looking to get a fair price and hopefully you feel the prices below are fair.
            </p>
        </div>
        <div class="section" v-for="section in sections">
            <div class="section-heading fs-5 text-white bg-secondary my-3 px-2">
                {{ section.name }}
                <span v-if="section.price">- {{ currency(section.price) }}</span>
            </div>
            <div v-if="section.set" class="row" :class="{ 'item-highlight': inGimmieList(section.id) }">
                <div class="col p-2 m-2 rounded text-center" v-for="image in section.images">
                    <img class="thumbnail me-1 mb-1 rounded" :src=`images/tn_${image}` data-bs-toggle="modal" data-bs-target="#imageModal" @click="showSection(section)">
                </div>
                <div class="my-2 text-center">
                    <button @click="gimmie(section.id)" class="btn btn-sm" :class="{ 'btn-success': !inGimmieList(section.id), 'btn-danger': inGimmieList(section.id)}">
                        <span v-if="inGimmieList(section.id)">Not Interested</span>
                        <span v-else>Interested</span>
                    </button>
                </div>
            </div>
            <div v-else class="row">
                <div class="col p-2 m-2 rounded text-center" v-for="item in section.items" :class="{ 'item-highlight': inGimmieList(item.id) }">
                    <div class="item-heading text-secondary">
                        {{ item.name }} - {{ currency(item.price) }}
                    </div>
                    <img class="thumbnail me-1 mb-1 rounded" v-for="image in item.images" :src=`images/tn_${image}` data-bs-toggle="modal" data-bs-target="#imageModal" @click="showItem(item)">
                    <div class="mt-2">
                        <button @click="gimmie(item.id)" class="btn btn-sm" :class="{ 'btn-success': !inGimmieList(item.id), 'btn-danger': inGimmieList(item.id)}">
                            <span v-if="inGimmieList(item.id)">Not Interested</span>
                            <span v-else>Interested</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="imageModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modal.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" v-for="(image, index) in modal.images" :class="{ active: index === 0 }" data-bs-interval="100000">
                                <img :src=`images/${image}` class="d-block w-100" />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon fw-bold bg-primary p-4 rounded" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon fw-bold bg-primary p-4 rounded" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button @click="gimmie(modal.id)" class="btn" :class="{ 'btn-success': !inGimmieList(modal.id), 'btn-danger': inGimmieList(modal.id)}">
                        <span v-if="inGimmieList(modal.id)">Not Interested</span>
                        <span v-else>Interested</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    const { createApp } = Vue;

    createApp({
    data() {
        return {
            active: "home",
            gimmieItems: [],
            copied: false,
            modal: {
                id: "",
                name: "",
                images: []
            },
            sections: [
                {
                    id: "Dining Room Set",
                    name: "Dining Room Set (Table + 8 chairs, Hutch, Buffet Table, Rug)",
                    price: 3000,
                    msrp: 7500,
                    set: true,
                    images: [
                        "dining_room_table3.jpg",
                        "dining_room_table4.jpg",
                        "dining_room_hutch.jpg",
                        "dining_room_hutch2.jpg",
                        "dining_room_bistro.jpg",
                        "dining_room_bistro2.jpg"
                    ],
                    items: [
                        {
                            id: "Dining Room Table + seats + rug",
                            name: "Table w/ 8 seats + rug",
                            images: [
                                "dining_room_table3.jpg",
                                "dining_room_table4.jpg"
                            ]
                        },{
                            id: "Dining Room Hutch",
                            name: "Hutch",
                            images: [
                                "dining_room_hutch.jpg",
                                "dining_room_hutch2.jpg"
                            ]
                        },{
                            id: "Dining Room Buffet Table",
                            name: "Buffet Table",
                            images: [
                                "dining_room_bistro.jpg",
                                "dining_room_bistro2.jpg"
                            ]
                        }
                    ]
                },{
                    id: "Eat In Set",
                    name: "Eat In Set (Table + 8 chairs, Buffet Table)",
                    price: 2000,
                    msrp: 7000,
                    set: true,
                    images: [
                        "eat_in_table.jpg",
                        "eat_in_bistro.jpg"
                    ],
                    items: [
                        {
                            id: "Eat In Table + seats",
                            name: "Table w/ 8 seats",
                            images: [
                                "eat_in_table.jpg"
                            ]
                        },{
                            id: "Eat In Bistro",
                            name: "Bistro",
                            images: [
                                "eat_in_bistro.jpg"
                            ]
                        }
                    ]
                },{
                    id: "Formal Living Room Set",
                    name: "Formal Living Room (Couch, Chair + Ottoman, Coffee + End Tables, Rug)",
                    price: 2000,
                    msrp: 4000,
                    set: true,
                    images: [
                        "formal_couch.jpg",
                        "formal_chair_ottomon.jpg",
                        "formal_coffee_table.jpg",
                        "formal_coffee_table2.jpg",
                        "formal_end_table.jpg"
                    ],
                    items: [
                        {
                            id: "Formal LR Couch",
                            name: "Couch",
                            images: [
                                "formal_couch.jpg"
                            ]
                        },{
                            id: "Formal LR Chair + Ottoman",
                            name: "Chair + Ottoman",
                            images: [
                                "formal_chair_ottomon.jpg"
                            ]
                        },{
                            id: "Formal LR Coffee Table + rug",
                            name: "Coffee Table + rug",
                            images: [
                                "formal_coffee_table.jpg",
                                "formal_coffee_table2.jpg"
                            ]
                        },{
                            id: "Formal LR End Table",
                            name: "End Table",
                            images: [
                                "formal_end_table.jpg"
                            ]
                        }
                    ]
                },{
                    id: "Family Room Set",
                    name: "Family Room (Sectional w/ sleeper, Chair + Ottoman)",
                    price: 1500,
                    msrp: 3500,
                    set: true,
                    images: [
                        "living_room_sectional.jpg",
                        "living_room_chair_ottomon.jpg"
                    ],
                    items: [
                        {
                            id: "LR Sectional",
                            name: "Sectional w/ sleeper",
                            images: [
                                "living_room_sectional.jpg"
                            ]
                        },{
                            id: "LR Chair + Ottoman",
                            name: "Chair + Ottoman",
                            images: [
                                "living_room_chair_ottomon.jpg"
                            ]
                        }
                    ]
                },{
                    id: "Bedroom Set",
                    name: "Bedroom (King Bed frame, Dresser w/ mirror, Tall Dresser, 2 End tables)",
                    price: 2000,
                    msrp: 5000,
                    set: true,
                    images: [
                        "bedroom_king_bed.jpg",
                        "bedroom_dresser.jpg",
                        "bedroom_tall_dresser.jpg",
                        "bedroom_endtable.jpg",
                        "bedroom_endtable2.jpg"
                    ],
                    items: []
                },{

                    id: "miscellaneous",
                    name: "Miscellaneous",
                    set: false,
                    items: [
                        {
                            id: "Entryway Table",
                            name: "Entryway Table",
                            price: 100,
                            msrp: 400,
                            images: [
                                "entryway_table.jpg",
                                "entryway_table2.jpg"
                            ]
                        },{
                            id: "3 Wall Mounted Samsung Plasma TVs + Soundbar",
                            name: "3 Wall Mounted Samsung Plasma TVs + Soundbar",
                            price: 1000,
                            msrp: 2400,
                            images: [
                                "tv_plasma_51.jpg",
                                "tv_plasma_57.jpg",
                                "tv_plasma_58.jpg"
                            ]
                        },{
                            id: "Bar",
                            name: "Bar + 3 Chairs",
                            price: 200,
                            msrp: 500,
                            images: [
                                "basement_bar.jpg",
                                "basement_bar2.jpg",
                                "basement_bar3.jpg"
                            ]
                        },{
                            id: "TV Console",
                            name: "TV Console",
                            price: 100,
                            msrp: 400,
                            images: [
                                "living_room_tv_console.jpg"
                            ]
                        },{
                            id: "LG Washer / Dryer",
                            name: "LG Washer / Dryer",
                            price: 1000,
                            msrp: 2000,
                            images: [
                                "washer3.jpg",
                                "washer4.jpg",
                                "dryer3.jpg",
                                "dryer4.jpg"
                            ]
                        },{
                            id: "Futon",
                            name: "Futon",
                            price: 200,
                            msrp: 600,
                            images: [
                                "futon.jpg"
                            ]
                        },{
                            id: "Ping Pong Table",
                            name: "Ping Pong Table",
                            price: 200,
                            msrp: 400,
                            images: [
                                "ping_pong_table.jpg"
                            ]
                        }
                    ]
                }
            ]
        }
    },
    computed: {
        haveItems() {
            return this.gimmieItems.length > 0;
        },
        price() {
            return this.gimmieItems.reduce((prev, currId) => {
                let price = 0;
                this.sections.forEach(s => {
                    if (s.id === currId) {
                        price = s.price;
                    } else {
                        items = s.items.filter(i => i.id === currId);
                        if (items.length > 0) {
                            price = items[0].price;
                        }
                    }
                });

                return prev + price;
            }, 0);
        },
    },
    methods: {
        currency(value) {
            if (typeof value !== "number") {
                return value;
            }
            var formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 0
            });
            return formatter.format(value);
        },
        goto(id) {
            this.active = id;
        },
        gimmie(id) {
            if (this.gimmieItems.includes(id)) {
                this.gimmieItems = this.gimmieItems.filter(i => i !== id);
            } else {
                this.gimmieItems.push(id);
            }
        },
        inGimmieList(id) {
            return this.gimmieItems.includes(id);
        },
        showSection(section) {
            this.modal.name = section.name;
            this.modal.id = section.id;
            this.modal.images = section.images;
        },
        showItem(item) {
            this.modal.name = item.name;
            this.modal.id = item.id;
            this.modal.images = item.images;
        },
        copyToClipboard() {
            navigator.clipboard.writeText("Hey, we're interested in the following for " + this.currency(this.price) + ":\n" + this.gimmieItems.join("\n")).then(() => {
                // Alert the user that the action took place.
                // Nobody likes hidden stuff being done under the hood!
                this.copied = true;
                setTimeout(() => this.copied = false, 2000);
            });
        }
    }
    }).mount('#app')
</script>
<style>
    .xsection:hover {
        background-color: #FFFFDD;
        cursor: pointer;
        border: 1px solid #ccc;
    }
    .section-heading {
    }
    .thumbnail {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    .item-highlight {
         background-color: #CCFFCC;
    }
    .copy {
        cursor: pointer;
        text-decoration: underline dotted;
    }
</style>
