<script src="https://unpkg.com/vue@3"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div id="app">
    <div class="container">
        <div class="sticky-top fs-4 bg-primary text-white p-2 mb-3">
            23 Sachem - Furniture
            <div v-if="haveItems" class="d-flex flex-wrap fs-6 border-top">
                <div class="me-1 fw-bold">Interested in:</div>
                <div class="me-2" v-for="(item, index) in gimmieItems">
                    {{ item }}
                    <span v-if="index < gimmieItems.length - 1">, </span>
                </div>
            </div>
        </div>
        <!--
        <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary text-white mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">23 Sachem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" v-for="section in sections">
                            <a class="nav-link" :class="{ active: active === section.id }" aria-current="page" href="#" @click="goto(section.id)" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">{{ section.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
-->
        <div class="mb-3 p-2 rounded bg-light">
            <p class="mb-2">
                First, we're truly excited for you and hope you'll love this house as much as we do.
            </p>
            <p class="mb-2">
                We're hoping you'll want it all as it will help ease our move but also
                get you jump started in the house vs potentially having to wait many months
                for furniture.  We are simply looking to get a fair price.
            <p>
        </p>
        </div>
        <div class="section" v-for="section in sections">
            <div class="section-heading fs-4 text-white bg-secondary my-3 px-2">{{ section.name }}</div>
            <div class="row">
                <div class="col p-2 m-2 rounded text-center" v-for="item in section.items" :class="{ 'item-highlight': inGimmieList(item.id) }">
                    <div class="item-heading text-secondary">
                        {{ item.name }}
                    </div>
                    <img class="thumbnail me-1 mb-1 rounded" v-for="image in item.images" :src=`images/${image}` data-bs-toggle="modal" data-bs-target="#imageModal" @click="showItem(item, image)">
                    <div class="mt-2">
                        <button @click="gimmie(item.id)" class="btn btn-sm" :class="{ 'btn-success': !inGimmieList(item.id), 'btn-danger': inGimmieList(item.id)}">
                            <span v-if="inGimmieList(item.id)">Not Interested</span>
                            <span v-else>Interested</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="imageModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modal.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" v-for="(image, index) in modal.images" :class="{ active: index === 0 }">
                                <img :src=`images/${image}` class="d-block w-100" />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon fw-bold bg-primary p-4 rounded" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon fw-bold bg-primary p-4 rounded" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button @click="gimmie(modal.id)" class="btn" :class="{ 'btn-success': !inGimmieList(modal.id), 'btn-danger': inGimmieList(modal.id)}">
                        <span v-if="inGimmieList(modal.id)">Not Interested</span>
                        <span v-else>Interested</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  const { createApp } = Vue


  createApp({
    data() {
      return {
        active: "home",
        gimmieItems: [],
        modal: {
            id: "",
            name: "",
            images: []
        },
        sections: [
            {
                id: "dining",
                name: "Dining Room",
                items: [
                    {
                        id: "Dining Room Table + seats + rug",
                        name: "Table w/ 8 seats + rug",
                        images: [
                            "dining_room_table.jpg",
                            "dining_room_table2.jpg"
                        ]
                    },
                    {
                        id: "Dining Room Hutch",
                        name: "Hutch",
                        images: [
                            "dining_room_hutch.jpg",
                            "dining_room_hutch2.jpg"
                        ]
                    },
                    {
                        id: "Dining Room Bistro",
                        name: "Bistro Table",
                        images: [
                            "dining_room_bistro.jpg",
                            "dining_room_bistro2.jpg"
                        ]
                    }
                ]
            },
            {
                id: "eatin",
                name: "Eat In Area",
                items: [
                    {
                        id: "Eat In Table + seats + rug",
                        name: "Table w/ 8 seats + rug",
                        images: [
                            "eat_in_table.jpg"
                        ]
                    },
                    {
                        id: "Eat In Bistro",
                        name: "Bistro",
                        images: [
                            "eat_in_bistro.jpg"
                        ]
                    }

                ]
            }
        ]
      }
    },
    computed: {
        haveItems() {
            return this.gimmieItems.length > 0;
        }
    },
    methods: {
        goto(id) {
            this.active = id;
        },
        gimmie(id) {
            if (this.gimmieItems.includes(id)) {
                this.gimmieItems = this.gimmieItems.filter(i => i !== id);
            } else {
                this.gimmieItems.push(id);
            }
        },
        inGimmieList(id) {
            return this.gimmieItems.includes(id);
        },
        showItem(item, image) {
            this.modal.name = item.name;
            this.modal.id = item.id;
            this.modal.images = item.images;
        }
    }
  }).mount('#app')
</script>
<style>
    .xsection:hover {
        background-color: #FFFFDD;
        cursor: pointer;
        border: 1px solid #ccc;
    }
    .section-heading {
    }
    .thumbnail {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    .item-highlight {
         background-color: #CCFFCC;
    }
</style>